In [1]:
import os
import numpy as np
import pandas as pd

In [30]:
# è¨­å®š data_path
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)
app_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
12,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
13,100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
14,100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
16,100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
17,100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
19,100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
20,100024,0,Revolving loans,M,Y,Y,0,135000.000,427500.0,21375.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
21,100025,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
22,100026,0,Cash loans,F,N,N,1,450000.000,497520.0,32521.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
23,100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
24,100029,0,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
25,100030,0,Cash loans,F,N,Y,0,90000.000,225000.0,11074.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
26,100031,1,Cash loans,F,N,Y,0,112500.000,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
27,100032,0,Cash loans,M,N,Y,1,112500.000,327024.0,23827.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
28,100033,0,Cash loans,M,Y,Y,0,270000.000,790830.0,57676.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
29,100034,0,Revolving loans,M,N,Y,0,90000.000,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,456225,1,Cash loans,M,N,Y,0,225000.000,297000.0,19975.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307482,456226,0,Cash loans,F,Y,Y,0,225000.000,500566.5,34969.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307483,456227,0,Cash loans,F,N,Y,0,99000.000,247275.0,16479.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
307484,456228,0,Cash loans,F,Y,N,0,540000.000,545040.0,35617.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307485,456229,0,Revolving loans,F,N,Y,1,270000.000,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307486,456230,0,Cash loans,F,Y,Y,1,292500.000,355536.0,18283.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307487,456231,0,Cash loans,M,N,Y,0,117000.000,1071909.0,31473.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0
307488,456232,0,Cash loans,F,N,N,0,157500.000,135000.0,13351.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307489,456233,1,Cash loans,F,N,Y,0,225000.000,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307490,456234,0,Cash loans,M,N,Y,0,81000.000,135000.0,9148.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307491,456235,0,Cash loans,M,Y,Y,2,90000.000,1078200.0,31522.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307492,456236,0,Cash loans,M,Y,Y,0,585000.000,1575000.0,43443.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307493,456237,0,Cash loans,F,N,Y,0,135000.000,946764.0,37678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307494,456238,0,Cash loans,M,Y,N,1,270000.000,479700.0,46858.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
307495,456239,0,Cash loans,M,Y,N,0,180000.000,808650.0,23773.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307496,456240,0,Revolving loans,F,N,N,0,360000.000,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307497,456241,0,Cash loans,F,Y,Y,0,180000.000,270126.0,12028.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307498,456242,0,Cash loans,M,Y,Y,0,198000.000,1312110.0,52168.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307499,456243,0,Cash loans,F,N,Y,0,81000.000,225000.0,12694.5,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0
307500,456244,0,Cash loans,F,N,Y,0,261000.000,1303812.0,35982.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307501,456245,0,Cash loans,F,N,Y,3,81000.000,269550.0,11871.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307502,456246,0,Cash loans,F,N,Y,1,94500.000,225000.0,10620.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307503,456247,0,Cash loans,F,N,Y,0,112500.000,345510.0,17770.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
307504,456248,0,Cash loans,F,N,Y,0,153000.000,331920.0,16096.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307505,456249,0,Cash loans,F,N,Y,0,112500.000,225000.0,22050.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
307506,456251,0,Cash loans,M,N,N,0,157500.000,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.000,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.000,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.000,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.000,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

æª¢è¦–è³‡æ–™ä¸­å„å€‹æ¬„ä½é¡žåž‹çš„æ•¸é‡

In [27]:
print(app_train['SK_ID_CURR'].dtype, '\n')  # å¯å–®ç¨çœ‹æŸæ¬„ä½çš„ type
print(app_train.dtypes, '\n')  # å¯çœ‹å‡ºæ¯å€‹æ¬„ä½çš„åž‹åˆ¥
app_train.dtypes.value_counts()

int64

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

float64    65
int64      41
object     16
dtype: int64

æª¢è¦–è³‡æ–™ä¸­é¡žåˆ¥åž‹æ¬„ä½å„è‡ªé¡žåˆ¥çš„æ•¸é‡

Ex1 : æ€§åˆ¥ -- åˆ†3ç¨®

Ex2 : å‘¨é–“ -- åˆ†7ç¨®

In [28]:
print(app_train.select_dtypes(include=["object"]))  # æŒ‘å‡ºdfä¸­æ¬„ä½åž‹åˆ¥ç‚º objectè€…
app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis = 0)  # çµ±è¨ˆå‡ºé€™äº›æ¬„ä½ä¸­ï¼Œæœ‰å¹¾ç¨®é¡žåˆ¥é¸é …(ä¸é‡è¤‡unique)

       NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0              Cash loans           M            N               Y
1              Cash loans           F            N               N
2         Revolving loans           M            Y               Y
3              Cash loans           F            N               Y
4              Cash loans           M            N               Y
5              Cash loans           M            N               Y
6              Cash loans           F            Y               Y
7              Cash loans           M            Y               Y
8              Cash loans           F            N               Y
9         Revolving loans           M            N               Y
10             Cash loans           F            N               Y
11             Cash loans           F            N               Y
12             Cash loans           F            N               Y
13             Cash loans           M            Y               N
14             Cash loans           F            N               Y
15             Cash loans           M            Y               Y
16             Cash loans           M            N               N
17        Revolving loans           F            N               Y
18        Revolving loans           F            N               Y
19             Cash loans           F            N               Y
20        Revolving loans           M            Y               Y
21             Cash loans           F            Y               Y
22             Cash loans           F            N               N
23             Cash loans           F            N               Y
24             Cash loans           M            Y               N
25             Cash loans           F            N               Y
26             Cash loans           F            N               Y
27             Cash loans           M            N               Y
28             Cash loans           M            Y               Y
29        Revolving loans           M            N               Y
...                   ...         ...          ...             ...
307481         Cash loans           M            N               Y
307482         Cash loans           F            Y               Y
307483         Cash loans           F            N               Y
307484         Cash loans           F            Y               N
307485    Revolving loans           F            N               Y
307486         Cash loans           F            Y               Y
307487         Cash loans           M            N               Y
307488         Cash loans           F            N               N
307489         Cash loans           F            N               Y
307490         Cash loans           M            N               Y
307491         Cash loans           M            Y               Y
307492         Cash loans           M            Y               Y
307493         Cash loans           F            N               Y
307494         Cash loans           M            Y               N
307495         Cash loans           M            Y               N
307496    Revolving loans           F            N               N
307497         Cash loans           F            Y               Y
307498         Cash loans           M            Y               Y
307499         Cash loans           F            N               Y
307500         Cash loans           F            N               Y
307501         Cash loans           F            N               Y
307502         Cash loans           F            N               Y
307503         Cash loans           F            N               Y
307504         Cash loans           F            N               Y
307505         Cash loans           F            N               Y
307506         Cash loans           M            N               N
307507         Cash loans           F            N               Y
307508         Cash loans           F            N               Y
307509         Cash loans           F            N               Y
307510         Cash loans           F            N               N

        NAME_TYPE_SUITE      NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
0         Unaccompanied               Working  Secondary / secondary special
1                Family         State servant               Higher education
2         Unaccompanied               Working  Secondary / secondary special
3         Unaccompanied               Working  Secondary / secondary special
4         Unaccompanied               Working  Secondary / secondary special
5       Spouse, partner         State servant  Secondary / secondary special
6         Unaccompanied  Commercial associate               Higher education
7         Unaccompanied         State servant               Higher education
8              Children             Pensioner  Secondary / secondary special
9         Unaccompanied               Working  Secondary / secondary special
10        Unaccompanied               Working               Higher education
11             Children             Pensioner  Secondary / secondary special
12        Unaccompanied               Working  Secondary / secondary special
13        Unaccompanied               Working  Secondary / secondary special
14        Unaccompanied               Working  Secondary / secondary special
15               Family               Working  Secondary / secondary special
16        Unaccompanied               Working  Secondary / secondary special
17        Unaccompanied               Working  Secondary / secondary special
18              Other_A               Working  Secondary / secondary special
19        Unaccompanied         State servant               Higher education
20        Unaccompanied               Working  Secondary / secondary special
21        Unaccompanied  Commercial associate  Secondary / secondary special
22        Unaccompanied               Working  Secondary / secondary special
23        Unaccompanied             Pensioner  Secondary / secondary special
24        Unaccompanied               Working  Secondary / secondary special
25        Unaccompanied               Working  Secondary / secondary special
26        Unaccompanied               Working  Secondary / secondary special
27               Family               Working  Secondary / secondary special
28        Unaccompanied         State servant               Higher education
29        Unaccompanied               Working               Higher education
...                 ...                   ...                            ...
307481           Family               Working  Secondary / secondary special
307482    Unaccompanied  Commercial associate  Secondary / secondary special
307483    Unaccompanied             Pensioner  Secondary / secondary special
307484    Unaccompanied  Commercial associate  Secondary / secondary special
307485           Family               Working  Secondary / secondary special
307486    Unaccompanied  Commercial associate               Higher education
307487    Unaccompanied             Pensioner  Secondary / secondary special
307488    Unaccompanied         State servant               Higher education
307489    Unaccompanied  Commercial associate  Secondary / secondary special
307490    Unaccompanied  Commercial associate               Higher education
307491    Unaccompanied  Commercial associate  Secondary / secondary special
307492    Unaccompanied               Working  Secondary / secondary special
307493    Unaccompanied               Working  Secondary / secondary special
307494           Family  Commercial associate  Secondary / secondary special
307495    Unaccompanied               Working               Higher education
307496           Family               Working               Higher education
307497    Unaccompanied               Working  Secondary / secondary special
307498    Unaccompanied  Commercial associate  Secondary / secondary special
307499    Unaccompanied  Commercial associate  Secondary / secondary special
307500    Unaccompanied               Working               Higher education
307501    Unaccompanied  Commercial associate  Secondary / secondary special
307502    Unaccompanied               Working  Secondary / secondary special
307503    Unaccompanied  Commercial associate               Higher education
307504    Unaccompanied               Working  Secondary / secondary special
307505    Unaccompanied             Pensioner  Secondary / secondary special
307506    Unaccompanied               Working  Secondary / secondary special
307507    Unaccompanied             Pensioner  Secondary / secondary special
307508    Unaccompanied               Working               Higher education
307509    Unaccompanied  Commercial associate  Secondary / secondary special
307510    Unaccompanied  Commercial associate               Higher education

          NAME_FAMILY_STATUS  NAME_HOUSING_TYPE        OCCUPATION_TYPE  \
0       Single / not married  House / apartment               Laborers
1                    Married  House / apartment             Core staff
2       Single / not married  House / apartment               Laborers
3             Civil marriage  House / apartment               Laborers
4       Single / not married  House / apartment             Core staff
5                    Married  House / apartment               Laborers
6                    Married  House / apartment            Accountants
7                    Married  House / apartment               Managers
8                    Married  House / apartment                    NaN
9       Single / not married  House / apartment               Laborers
10                   Married  House / apartment             Core staff
11                   Married  House / apartment                    NaN
12                   Married  House / apartment               Laborers
13                   Married  House / apartment                Drivers
14                   Married  House / apartment               Laborers
15      Single / not married   Rented apartment               Laborers
16                   Married  House / apartment                Drivers
17                   Married  House / apartment               Laborers
18                     Widow  House / apartment               Laborers
19      Single / not married  House / apartment             Core staff
20                   Married  House / apartment               Laborers
21                   Married  House / apartment            Sales staff
22                   Married   Rented apartment            Sales staff
23                   Married  House / apartment                    NaN
24                   Married  House / apartment                Drivers
25                   Married  House / apartment         Cleaning staff
26                     Widow  House / apartment          Cooking staff
27                   Married  House / apartment               Laborers
28      Single / not married  House / apartment                    NaN
29      Single / not married       With parents               Laborers
...                      ...                ...                    ...
307481               Married  House / apartment               Managers
307482               Married  House / apartment               Managers
307483             Separated  House / apartment                    NaN
307484               Married   Rented apartment               Managers
307485             Separated       With parents            Sales staff
307486        Civil marriage  House / apartment                    NaN
307487               Married  House / apartment                    NaN
307488  Single / not married  House / apartment             Core staff
307489        Civil marriage  House / apartment            Sales staff
307490  Single / not married  House / apartment               Laborers
307491               Married  House / apartment                Drivers
307492               Married  House / apartment            Sales staff
307493               Married  House / apartment         Security staff
307494               Married  House / apartment                Drivers
307495               Married  House / apartment  High skill tech staff
307496               Married  House / apartment          Cooking staff
307497               Married  House / apartment            Sales staff
307498               Married  House / apartment               Laborers
307499               Married  House / apartment         Medicine staff
307500               Married  House / apartment                    NaN
307501               Married  House / apartment     Low-skill Laborers
307502               Married  House / apartment               Laborers
307503  Single / not married  House / apartment             Core staff
307504             Separated  House / apartment            Sales staff
307505  Single / not married  House / apartment                    NaN
307506             Separated       With parents            Sales staff
307507                 Widow  House / apartment                    NaN
307508             Separated  House / apartment               Managers
307509               Married  House / apartment               Laborers
307510               Married  House / apartment               Laborers

       WEEKDAY_APPR_PROCESS_START       ORGANIZATION_TYPE FONDKAPREMONT_MODE  \
0                       WEDNESDAY  Business Entity Type 3   reg oper account
1                          MONDAY                  School   reg oper account
2                          MONDAY              Government                NaN
3                       WEDNESDAY  Business Entity Type 3                NaN
4                        THURSDAY                Religion                NaN
5                       WEDNESDAY                   Other                NaN
6                          SUNDAY  Business Entity Type 3                NaN
7                          MONDAY                   Other                NaN
8                       WEDNESDAY                     XNA                NaN
9                        THURSDAY             Electricity                NaN
10                       SATURDAY                Medicine                NaN
11                         FRIDAY                     XNA                NaN
12                         FRIDAY  Business Entity Type 2   reg oper account
13                       THURSDAY           Self-employed   reg oper account
14                         MONDAY       Transport: type 2   reg oper account
15                       SATURDAY  Business Entity Type 2                NaN
16                       THURSDAY              Government                NaN
17                         MONDAY            Construction                NaN
18                         FRIDAY                 Housing   reg oper account
19                         MONDAY            Kindergarten                NaN
20                         FRIDAY           Self-employed   reg oper account
21                         MONDAY           Trade: type 7                NaN
22                       THURSDAY           Self-employed   reg oper account
23                         FRIDAY                     XNA   org spec account
24                       THURSDAY  Business Entity Type 3   reg oper account
25                       SATURDAY  Business Entity Type 3   reg oper account
26                         MONDAY  Business Entity Type 3                NaN
27                       SATURDAY       Industry: type 11                NaN
28                      WEDNESDAY                Military                NaN
29                        TUESDAY  Business Entity Type 3   reg oper account
...                           ...                     ...                ...
307481                     FRIDAY  Business Entity Type 3                NaN
307482                   THURSDAY                 Telecom      not specified
307483                     MONDAY                     XNA   reg oper account
307484                     MONDAY  Business Entity Type 3                NaN
307485                   SATURDAY  Business Entity Type 3                NaN
307486                   SATURDAY  Business Entity Type 2                NaN
307487                  WEDNESDAY                     XNA                NaN
307488                  WEDNESDAY              Government                NaN
307489                     FRIDAY  Business Entity Type 3   reg oper account
307490                   SATURDAY  Business Entity Type 1                NaN
307491                   SATURDAY           Self-employed                NaN
307492                     FRIDAY           Self-employed                NaN
307493                     MONDAY                  School                NaN
307494                     MONDAY           Self-employed                NaN
307495                  WEDNESDAY  Business Entity Type 3   org spec account
307496                   THURSDAY           Self-employed                NaN
307497                   THURSDAY           Trade: type 7                NaN
307498                     MONDAY            Construction                NaN
307499                    TUESDAY                Medicine                NaN
307500                     FRIDAY  Business Entity Type 3                NaN
307501                  WEDNESDAY        Industry: type 1                NaN
307502                     MONDAY                  School                NaN
307503                   SATURDAY                    Bank                NaN
307504                  WEDNESDAY           Self-employed                NaN
307505                     MONDAY                     XNA   reg oper account
307506                   THURSDAY                Services   reg oper account
307507                     MONDAY                     XNA   reg oper account
307508                   THURSDAY                  School   reg oper account
307509                  WEDNESDAY  Business Entity Type 1                NaN
307510                   THURSDAY  Business Entity Type 3                NaN

        HOUSETYPE_MODE WALLSMATERIAL_MODE EMERGENCYSTATE_MODE
0       block of flats       Stone, brick                  No
1       block of flats              Block                  No
2                  NaN                NaN                 NaN
3                  NaN                NaN                 NaN
4                  NaN                NaN                 NaN
5                  NaN                NaN                 NaN
6                  NaN                NaN                 NaN
7                  NaN                NaN                 NaN
8                  NaN                NaN                 NaN
9                  NaN                NaN                 NaN
10                 NaN                NaN                 NaN
11                 NaN                NaN                 NaN
12      block of flats                NaN                  No
13      block of flats              Panel                  No
14      block of flats              Panel                  No
15                 NaN                NaN                 NaN
16                 NaN                NaN                 NaN
17                 NaN                NaN                 NaN
18      block of flats       Stone, brick                  No
19                 NaN                NaN                 NaN
20      block of flats       Stone, brick                  No
21                 NaN                NaN                 NaN
22      block of flats              Panel                  No
23      block of flats              Mixed                  No
24      block of flats              Panel                  No
25      block of flats       Stone, brick                  No
26      block of flats             Wooden                 Yes
27                 NaN                NaN                 NaN
28                 NaN                NaN                 NaN

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

#### Label encoding
æœ‰ä»”ç´°é–±è®€[åƒè€ƒè³‡æ–™](https://medium.com/@contactsunny/label-encoder-vs-one-hot-encoder-in-machine-learning-3fc273365621)çš„äººå¯ä»¥ç™¼ç¾ï¼ŒLabel encoding çš„è¡¨ç¤ºæ–¹å¼æœƒè®“åŒä¸€å€‹æ¬„ä½åº•ä¸‹çš„é¡žåˆ¥ä¹‹é–“æœ‰å¤§å°é—œä¿‚ (0<1<2<...)ï¼Œæ‰€ä»¥åœ¨é€™è£¡æˆ‘å€‘åªå°æœ‰é¡žåˆ¥æ•¸é‡å°æ–¼ç­‰æ–¼ 2 çš„é¡žåˆ¥åž‹æ¬„ä½ç¤ºç¯„ä½¿ç”¨ Label encodingï¼Œä½†ä¸è¡¨ç¤ºé€™æ¨£è™•ç†æ˜¯æœ€å¥½çš„ï¼Œä¸€åˆ‡å–æ±ºæ–¼æ¬„ä½æœ¬èº«çš„æ„ç¾©é©åˆå“ªä¸€ç¨®è¡¨ç¤ºæ–¹æ³•

In [11]:
from sklearn.preprocessing import LabelEncoder

In [29]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns(col = col name)
for col in app_train: 
    if app_train[col].dtype == 'object':
        # If 2 or fewer unique categories # æ‰¾å‡ºå–®ä¸€æ¬„ä½ä¸­ï¼Œå…¶ç¨®é¡žé¸é …æ•¸<=2è€…
        if len(list(app_train[col].unique())) <= 2:
            # Train on the training data
            le.fit(app_train[col])
            # Transform both training and testing data
            app_train[col] = le.transform(app_train[col])
#             app_test[col] = le.transform(app_test[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
            
print('%d columns were label encoded.' % le_count)
app_train    # å¯ä»¥çœ‹å‡º NAME_CONTRACT_TYPE	å·²è½‰ç‚º 0/1è¡¨é”

3 columns were label encoded.

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,M,0,1,0,202500.000,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,F,0,0,0,270000.000,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,M,1,1,0,67500.000,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,F,0,1,0,135000.000,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,M,0,1,0,121500.000,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,0,M,0,1,0,99000.000,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,0,F,1,1,1,171000.000,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,0,M,1,1,0,360000.000,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,0,F,0,1,0,112500.000,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,1,M,0,1,0,135000.000,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,100014,0,0,F,0,1,1,112500.000,652500.0,21177.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
11,100015,0,0,F,0,1,0,38419.155,148365.0,10678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
12,100016,0,0,F,0,1,0,67500.000,80865.0,5881.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
13,100017,0,0,M,1,0,1,225000.000,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
14,100018,0,0,F,0,1,0,189000.000,773680.5,32778.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,100019,0,0,M,1,1,0,157500.000,299772.0,20160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
16,100020,0,0,M,0,0,0,108000.000,509602.5,26149.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
17,100021,0,1,F,0,1,1,81000.000,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,100022,0,1,F,0,1,0,112500.000,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
19,100023,0,0,F,0,1,1,90000.000,544491.0,17563.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
20,100024,0,1,M,1,1,0,135000.000,427500.0,21375.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
21,100025,0,0,F,1,1,1,202500.000,1132573.5,37561.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
22,100026,0,0,F,0,0,1,450000.000,497520.0,32521.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
23,100027,0,0,F,0,1,0,83250.000,239850.0,23850.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
24,100029,0,0,M,1,0,2,135000.000,247500.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
25,100030,0,0,F,0,1,0,90000.000,225000.0,11074.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
26,100031,1,0,F,0,1,0,112500.000,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
27,100032,0,0,M,0,1,1,112500.000,327024.0,23827.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
28,100033,0,0,M,1,1,0,270000.000,790830.0,57676.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
29,100034,0,1,M,0,1,0,90000.000,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,456225,1,0,M,0,1,0,225000.000,297000.0,19975.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307482,456226,0,0,F,1,1,0,225000.000,500566.5,34969.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307483,456227,0,0,F,0,1,0,99000.000,247275.0,16479.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
307484,456228,0,0,F,1,0,0,540000.000,545040.0,35617.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307485,456229,0,1,F,0,1,1,270000.000,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307486,456230,0,0,F,1,1,1,292500.000,355536.0,18283.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307487,456231,0,0,M,0,1,0,117000.000,1071909.0,31473.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0
307488,456232,0,0,F,0,0,0,157500.000,135000.0,13351.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307489,456233,1,0,F,0,1,0,225000.000,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307490,456234,0,0,M,0,1,0,81000.000,135000.0,9148.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307491,456235,0,0,M,1,1,2,90000.000,1078200.0,31522.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307492,456236,0,0,M,1,1,0,585000.000,1575000.0,43443.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307493,456237,0,0,F,0,1,0,135000.000,946764.0,37678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307494,456238,0,0,M,1,0,1,270000.000,479700.0,46858.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
307495,456239,0,0,M,1,0,0,180000.000,808650.0,23773.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307496,456240,0,1,F,0,0,0,360000.000,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307497,456241,0,0,F,1,1,0,180000.000,270126.0,12028.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307498,456242,0,0,M,1,1,0,198000.000,1312110.0,52168.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307499,456243,0,0,F,0,1,0,81000.000,225000.0,12694.5,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0
307500,456244,0,0,F,0,1,0,261000.000,1303812.0,35982.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307501,456245,0,0,F,0,1,3,81000.000,269550.0,11871.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307502,456246,0,0,F,0,1,1,94500.000,225000.0,10620.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307503,456247,0,0,F,0,1,0,112500.000,345510.0,17770.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
307504,456248,0,0,F,0,1,0,153000.000,331920.0,16096.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307505,456249,0,0,F,0,1,0,112500.000,225000.0,22050.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
307506,456251,0,0,M,0,0,0,157500.000,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,0,F,0,1,0,72000.000,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,0,F,0,1,0,153000.000,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,0,F,0,1,0,171000.000,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,0,F,0,0,0,157500.000,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

#### One Hot encoding
pandas ä¸­çš„ one hot encoding éžå¸¸æ–¹ä¾¿ï¼Œä¸€è¡Œç¨‹å¼ç¢¼å°±æžå®š

In [7]:
app_train = pd.get_dummies(app_train)
app_test = pd.get_dummies(app_test)

print(app_train['CODE_GENDER_F'].head())
print(app_train['CODE_GENDER_M'].head())
print(app_train['NAME_EDUCATION_TYPE_Academic degree'].head())

0    0
1    1
2    0
3    1
4    0
Name: CODE_GENDER_F, dtype: uint8
0    1
1    0
2    1
3    0
4    1
Name: CODE_GENDER_M, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: NAME_EDUCATION_TYPE_Academic degree, dtype: uint8

å¯ä»¥è§€å¯Ÿåˆ°åŽŸä¾†çš„é¡žåˆ¥åž‹æ¬„ä½éƒ½è½‰ç‚º 0/1 äº†

## ä½œæ¥­
å°‡ä¸‹åˆ—éƒ¨åˆ†è³‡æ–™ç‰‡æ®µ sub_train ä½¿ç”¨ One Hot encoding, ä¸¦è§€å¯Ÿè½‰æ›å‰å¾Œçš„æ¬„ä½æ•¸é‡ (ä½¿ç”¨ shape) èˆ‡æ¬„ä½åç¨± (ä½¿ç”¨ head) è®ŠåŒ–

In [31]:
app_train = pd.read_csv(f_app_train)
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [34]:
sub_train = pd.get_dummies(sub_train)
print(sub_train.shape)
sub_train.head()

(307511, 7)

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0